/* My CSS */
.Header li {
    display: inline;
    font-size: 400pt;
}

.searchBoxContainer {
    float: right;
    margin-right: 5%;
}

/* CSS from Lab */
.Header {
    overflow: hidden;
    background-color: #05386b;
    padding: 20px 10px;
    top: 0;
    left:0;
    width: 100%;
}

.Header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.Header img {
    width: 250px;
    float: left;
}

.Header a.active {
    background: #5CDB95;
    color: white;
    font-weight: bold;
}

.Header input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 18px;
    border: none;
}

@media screen and (max-width: 600px) {

    .Header img{
        display: block;
        float: none;
        margin: auto;
    }

    .Header a {
        float: none;
        display: block;
        text-align: center;
    }
}