.RecipeHeader {
    background-color: rgb(160, 194, 233);
    margin: 20px;
    padding: 10px;
    padding-bottom: 100px;
}

.RecipeInfo {
    width: 70%;
    float: left;
}

.RecipeImage {
    width: 30%;
    float: right;
}